.rating {
  padding-top: 150px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  padding-left: 190px;
  width: 1110px;
  height: 550px;
  background: url(../../assets/background/rating.png) 100% 100% no-repeat;
  background-position: center;
  background-size: cover;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 825px;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 100%;
  }
}
