.aboutText {
  width: 445px;
}

.title {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@media screen and (max-width: 767px) {
  .aboutText {
    margin-bottom: 27px;
    .title {
      text-align: center;
    }
    .text {
      text-align: center;
    }
  }
}
