.navLink {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}
