.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1045px;
  background: url(../../assets/background/hero.png) 100% 100% no-repeat;
  background-position: center;
  background-size: cover;
  padding: 267px 0 208px 0;
}

.container {
  display: flex;
  width: 1035px;
  align-items: center;
  justify-content: space-between;
}
