.partners {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1034px;
  height: 272px;
}

.swiper {
  height: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px !important;
}

@media screen and (max-width: 1600px) {
  .partners {
    padding: 150px 120px 0 190px;
    .container {
      max-width: 1034px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991px) {
  .partners {
    padding: 90px 39px 0 39px;
    .container {
      max-width: 690px;
    }
  }
}

@media screen and (max-width: 767px) {
  .partners {
    padding: 80px 33px 0 33px;
  }
}
