.rightBlock {
  div {
    display: flex;
    justify-content: space-between;
    width: 230px;
    height: 24px;
    margin-bottom: 25px;
    img {
      height: 100%;
    }
  }
  p {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    width: 540px;
    white-space: pre-line;
  }
}

@media screen and (max-width: 1600px) {
  .rightBlock {
    p {
      width: 450px;
      font-size: 34px;
      width: auto;
    }
  }
}

@media screen and (max-width: 991px) {
  .rightBlock {
    p {
      width: 388px;
      font-size: 29px;
    }
  }
}

@media screen and (max-width: 767px) {
  .rightBlock {
    p {
      width: 340px;
      font-size: 25px;
    }
  }
}
