@import '../../colors.scss';

.header {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 1110px;
}

.burgerBtn {
  display: none;
  background: none;
  border: none;
  outline: none;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1.1);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 824px;
}

.phone {
  position: relative;
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.3s;
  &:hover {
    color: $gold;
  }
  &:active {
    color: $black;
  }
}

.phone::after {
  position: absolute;
  display: inline-block;
  content: '';
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: $gold;
}

@media screen and (max-width: 1600px) {
  .header {
    width: auto;
    flex-direction: column;
    height: 102px;
    .nav {
      width: 692px;
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    padding: 60px 33px 0 39px;
    flex-direction: row;
    .nav {
      display: none;
    }
    .burgerBtn {
      display: block;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    padding: 60px 33px 0 39px;
    flex-direction: row;
    .nav {
      display: none;
    }
    .burgerBtn {
      display: block;
    }
  }
}
