.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  .container {
    width: 1110px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1600px) {
  .contacts {
    padding: 120px 120px 0 190px;
    .container {
      max-width: 730px;
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .contacts {
    padding: 90px 39px 0 39px;
    .container {
      max-width: 690px;
    }
  }
}

@media screen and (max-width: 767px) {
  .partners {
    padding: 80px 33px 0 33px;
  }
}
