.footer {
  position: relative;
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 158px;
  div {
    width: 1110px;
    border-top: 1px solid #565656;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #989898;
    }
  }
}

@media screen and (max-width: 1600px) {
  .footer {
    padding: 80px 120px 0 190px;
    div {
      max-width: 1110px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991px) {
  .footer {
    padding: 60px 39px 0 39px;
    div {
      max-width: 690px;
    }
  }
}

@media screen and (max-width: 767px) {
  .partners {
    padding: 60px 33px 0 33px;
  }
}
