@use './colors.scss';

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  src: url(./fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf);
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  src: url(./fonts/OpenSansCondensed/OpenSansCondensed-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  color: white;
}

html {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

.app {
  min-height: 100vh;
  background: colors.$black;
}
